<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.WindowTitle</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>

<body>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
					<li>@Html.ActionLink("Acerca de", "About", "Home")</li>
					<li>@Html.ActionLink("Productos", "Products", "Home")</li>
					<li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
				</ul>
			</div>
		</div>
		<div class="jumbotron">
			<p>@ViewBag.Title</p>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-2" id="footer-left">
					<h3 id="socialMedia">
						Síguenos
						<a href="https://www.facebook.com/ProDrifterDK.CL">
							<img src="/Resources/Image/facebook.png" width=65 />
						</a>

						<a href="https://twitter.com/ProDrifterDK">
							<img src="/Resources/Image/twitter.png" width=50 />
						</a>
					</h3>
				</div>
				<div class="col-xs-12 col-sm-6">

				</div>
				<div class="col-xs-12 col-sm-4" id="footer-right">
					<div class="col-xs-12 col-sm-1" style="font-size: 25px">
						<h3>
							<span class="glyphicon glyphicon-earphone"></span>
							<span class="glyphicon glyphicon-envelope"></span>
						</h3>
					</div>
					<div class="col-xs-12 col-sm-3">
						<h3 style="font-size: 20px">
							<p>+56752148869</p>
							<p>contacto@resyst.com</p>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</footer>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>


</html>
